<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>about taka.k</title>
  <link rel="stylesheet" th:href="@{css/common.css}" />
  <style></style>
</head>

<body class="bg-grren">
  <header>about Taka Kita</header>
  <main>
    <div id="MainVisual">
      <div id="PhotoArea"></div>
      <p id="DescriptionArea">
        初めまして。北 鷹（きた たか）と言います。</br>
        この度は私のページを訪ねていただきありがとうございます。</br>
        以下に私の自己紹介、経歴、制作物を記載しておりますので、ぜひご覧ください。</br>
      </p>
    </div>
    <ul class="tab-ul">
      <li class="tab-button tab-button-active">profile</li>
      <li class="tab-button">carrer</li>
      <li class="tab-button">portfolio</li>
    </ul>
    <div class="tab-area tab-area-active">
      <p>
        1994年春、大阪に生まれました。</br>
        工業系の専門学校でバスケとバイトに打ち込み、卒業後は石油系の企業でプラント管理に携わりました。</br>
        2022年ITエンジニアに転職し、現在奮闘中です。</br>
        好きなことはキャンプ、ビール、ウィスキー。友達と飲むお酒は最高！</br>
        Tシャツが似合うスタイルになりたいと思い、自宅で筋トレに励んでいます。</br>
        筋肉こそ最高のファッションアイテム。</br>
        </br>
        </br>

      </p>
    </div>
    <div class="tab-area">
      <p>ここはcareerのエリアです</p>
      <div class="">
        <p>
          2014年春〜2017年春<br>
          石油を扱う企業にて、石油精製プラントの管理に携わっておりました。<br>
          日本中に燃料を安定して供給するための巨大なスケールのプラント群、これらのプラントを最高の効率で稼働させるための緻密な電子制御技術などに魅力を感じ、毎日勉強に励みました。<br>
        </p>
        <p>
          2017年春〜2021年夏<br>
          業務用チョコレートを主に扱う食品メーカで、植物油脂の製造プラントの管理に携わっておりました。<br>
          省エネや業務効率化等の改善活動に注力し、その過程でプログラミングによるエンジニアリングに魅力を感じる。<br>
        </p>
        <p>
          2022年春〜現在<br>
          大阪のSES会社にて業務システム開発に携わっております。<br>
          主な開発言語はJavaで、spring frameworkを用いたMVCモデルの詳細設計〜テストまで担当しております。<br>
          画面の制作も行うため、html,css,JavaScript(jQuery)も扱えます。<br>
        </p>
      </div>
    </div>
    <div class="tab-area">
      <p>ここはportfolioのエリアです</p>
      <p>
        re:note<br>
        アプリ、ウェブサーバ：EC2<br>
        DBサーバ：RDS<br>
        開発言語：Ruby<br>
        フレームワーク：Ruby on Rails<br>
        API：Natural Language API(GCP)<br>
      </p>
      <p>
        hunglist<br>
        開発言語：php<br>
        フレームワーク：Laravel<br>
        API：geocoding API(GCP), geolocation API(GCP)<br>
      </p>
      
    </div>
  </main>
  <footer></footer>

  <script src="webjars/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $(function () {
      // tab-buttonクリックでtab-area切替
      $('.tab-button').click(function () {
        // インデックス番号の取得
        let index = $('.tab-button').index(this);
        // 一度全要素から***-activeクラスを削除する
        $('.tab-button').removeClass('tab-button-active');
        $('.tab-area').removeClass('tab-area-active');
        // クリックされたボタンと対応するエリアに***-activeクラスを付与する
        $(this).addClass('tab-button-active');
        $('.tab-area').eq(index).addClass('tab-area-active');
      });
    });
  </script>

</body>

</html>