<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>about taka.k</title>
  <link rel="stylesheet" th:href="@{css/common.css}" />
  <style></style>
</head>

<body class="bg-grren">
  <header>about Taka Kita</header>
  <main>
    <ul class="tab-ul">
      <li class="tab-button tab-button-active">profile</li>
      <li class="tab-button">carrer</li>
      <li class="tab-button">portfolio</li>
    </ul>
    <div class="tab-area tab-area-active">
      <p>ここはprofileのエリアです</p>
    </div>
    <div class="tab-area">
      <p>ここはcareerのエリアです</p>
    </div>
    <div class="tab-area">
      <p>ここはportfolioのエリアです</p>
    </div>
  </main>
  <footer></footer>

  <script src="webjars/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $(function () {
      // tab-buttonクリックでtab-area切替
      $('.tab-button').click(function () {
        // インデックス番号の取得
        let index = $('.tab-button').index(this);
        // 一度全要素から***-activeクラスを削除する
        $('.tab-button').removeClass('tab-button-active');
        $('.tab-area').removeClass('tab-area-active');
        // クリックされたボタンと対応するエリアに***-activeクラスを付与する
        $(this).addClass('tab-button-active');
        $('.tab-area').eq(index).addClass('tab-area-active');
      });
    });
  </script>

</body>

</html>